
@font-face {
  font-family: 'Byte Sans';
  font-display: swap;
  src: url('@renderer/assets/fonts/bytesans/ByteSans-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Byte Sans';
  font-display: swap;
  src: url('@renderer/assets/fonts/bytesans/ByteSans-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Byte Sans';
  font-display: swap;
  src: url('@renderer/assets/fonts/bytesans/ByteSans-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@theme {
    --font-bytesans: "Byte Sans", sans-serif;
}
